---
title: ""
layout: splash
author_profile: false
permalink: /
header:
  overlay_image: Bandeau_Riverains.jpg
---

{% include base_path %}

<h1>Assemblée générale</h1>

<h2>Le mardi 31 janvier 2017<br />à 20h<br />Au 21 rue de la digue côté Garonne.</h2>

<h3>Venez nombreux pour vous informer.</h3>

<h3>Venez nombreux pour participer à la défense de votre cadre de vie.</h3>

<h3>Les <a href="/assets/20161108_Statuts.pdf">statuts</a> de l'association.</h3>

<h2>Les riverains de la digue croix de pierre</h2>

<p>Les habitants de la cité sont attachés à l'évolution harmonieuse de leur quartier.</p>

<p>Malheureusement, cet été, pendant 3 mois et 2 jours, du 5 juin au 7 septembre, 7j/7j, jusqu'à 2 heures
du matin en semaine et 3 heures le samedi, les riverains ont subi des nuisances sonores, olfactives
et lumineuses issues de l'exploitation temporaire d'un établissement de type bar-restaurant (pas de publicité ici)
situé sur l'île du Ramier sur le site de l'ancienne usine hydro-électrique de la poudrerie au bout de l'île des moulins.</p>

<p>Face à cette situation, l'association "COLLECTIF DES RIVERAINS RUE DE LA DIGUE-CROIX DE PIERRE" s'est formée. Ce site sur
Internet vous présente plusieurs aspects de cette mobilisation sous la forme d'un <a href="/journal.html">journal</a>, d'un
<a href="/temoignage.html">témoignage</a> et de <a href="/documents.html">documents</a>.</p>



<p>Ce site est en cours d'enrichissement.</p>

<h3>Voici les trois derniers articles de notre <a href="/journal.html">journal</a></h3>

{% for post in site.posts limit:3 %}
  {% include archive-single.html %}
{% endfor %}
